.DS_Store
.vscode/
__pycache__/
output/
TeamCode/src/outputs/
TeamCode/tests/resources/example_output/*
TeamCode/src/old_model/*
TeamCode/tests/resources/test_data/*
images.pkl
TeamCode/src/work_dir/model_200.pth
TeamCode/src/work_dir/unet_200.pth
TeamCode/src/work_dir/2024*/
to_dump.pkl
trainset.pkl
validset.pkl
TeamCode/src/work_dir/model_cbam.pth
TeamCode/src/work_dir/epoch_3.pth
TeamCode/src/work_dir/epoch_6.pth
TeamCode/src/work_dir/epoch_9.pth
TeamCode/tests/resources/example_data/*.json
TeamCode/tests/resources/example_data/masks/
TeamCode/src/model/2024*/
TeamCode/tests/resources/example_data/cropped_img/
TeamCode/tests/resources/example_data/cropped_masks/